/* 
    Created on : Oct 19, 2021, 2:20:16 PM
    Author     : tanner
*/

body {background-color: #3d5a80;}

#wrapper {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #e0fbfc;
  padding-top: 16px;
  padding-bottom: 16px;
}

header {
    text-align: left;
    padding-left: 2em;
    padding-right: 2em;
    font-size: 20px;
    padding-top: 1.2em;
    padding-bottom: 1em;
    background-color: #98c1d9;
        
}
nav {
    text-align: center;
    
}
#button{
    border-style: solid;
    border-color: #293241;
    background-color: #ee6c4d;
    
}
table{
    border: 1px solid;
}

th{
    border: 1px solid;
}

td{
   border: 1px solid; 
}